<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do</title>
    <meta charset="UTF-8">
    <link href="../static/css/todo.css" th:href="@{/css/todo.css}" rel="stylesheet"/>
</head>

<body>
<div class="header">
    <!-- Header -->
    <header>
        <div class="navbar">
            <a class="logo" href="HomePage.html">To-Do</a>
            <a href="aboutUs.html">About</a>
            <a href="index.html">Home</a>
        </div>
        <!-- Slideshow container -->
        <div class="slideshow-container">
            <p class="webName">Methods to increase security</p>
            <div class="splitter"></div>
            <p class="slideText">Comparative Study Of Three DNA Based
                Information Hiding Methods.
            </p>
        </div>
    </header>
</div>

<div class="container">
    <div>
        <form class="form-horizontal" th:object="${encryptionInput}" th:action="@{/encryption}" method="post">
            <div class="form-group">
                <div>
                    <input type="text" name="msg" class="form-control" th:field="*{msg}" value="message"
                           th:errorclass="has-error"/>
                    <input type="text" name="keyword" class="form-control" value="keyword" th:field="*{keyword}"
                           th:errorclass="has-error"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" value="encryption">Encryption</button>
            </div>
        </form>
    </div>
</div>

<div class="split"></div>

<div class="container">
    <div th:if="${(cipherDetails)!=null}">
        <p>Details of Encryption are: </p>
        <table>
            <tr>
                <td>AMBIG</td>
                <td th:text="${cipherDetails.AMBIG}"></td>
            </tr>
            <tr>
                <td>Convert DNA to binary</td>
                <td th:text="${cipherDetails.CipherBin}"></td>
            <tr>
        </table>
        <br>
        <br>
    </div>
</div>
<br>
<div class="split"></div>

</body>
</html>
